*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px, #d9dbd5 130px, #d9dbd5 100%);
}

.container{
    background-color: #fff;
    width: 80vw;
    height: 90vh;
    display: flex;
}
/* sezione header sinistra */
.left-section{
    width: 35%;
    
  }

.right-section{
    width: 65%;
    background-image: url(../img/mine.jpg);
}

.header-left
.header-right{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.main-user{
    display: flex;
    align-items: center;
    background-color: #d9dbd5;
    height: 70px;
}


.img-container {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
  }

  .icons {
    display: flex;
    gap: 15px;
    padding-left: 180px;
    cursor: pointer;
    font-size: 20px;
    color: #a1a2a1;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  ul{
    list-style-type: none;
  }
  /* main sezione di sinistra */
  .icon-container {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#009688
  }

  .main-left {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }

  .notifications {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgb(85, 242, 253);
  }
  
  a{
    text-decoration: none;
  }

  .serch i {
    color: gray;
    background-color: #ffffff;
    width: 20%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 0.5px solid black;
    border-right: none;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    
  }
  .serch input {
    width: 80%;
    padding: 10px 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0.5px solid black;
    border-left: none;
}

.serch{
    display: flex;
    padding: 10px;
}





