<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/style.css">
    
    
  </head>
  <body>
    <div id="app">
      <!-- *contenitore app-->
      <div class="container">
        <!-- *sezione di sinistra -->
        <div class="left-column">
          <!-- header di sinistra -->
          <div class="header-left">
            <!-- info profilo -->
            <div class="main-user">
              <div class="img-container">
                <img :src="mainuser.avatar" alt=""/>
              </div>
              <h3>{{ mainuser.name }}</h3>
            </div>
            <!-- icone -->
            <ul class="icons">
              <li><i class="fa-solid fa-circle-notch"></i></li>
              <li><i class="fa-solid fa-message"></i></li>
              <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
            </ul>
          </div>
          
          <div class="main-left">
            <div class="notifications">
              <div class="icon-container">
                <i class="fa-solid fa-bell-slash"></i>
              </div>
              <div class="notifications-alert">
                <p>Ricevi notifiche di nuovi messaggi</p>
                <a href="#">Attiva notifiche desktop</a>
              </div>
            </div>

            <div class="left-search">
              <i class="fa-solid fa-magnifying-glass"></i>
              <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="userText" @keyup=" filtercontact" />
            </div>

            <!-- lista chat -->
            <div class="contacts">
              <ul>
                <li v-for="(contact, index) in contacts" v-show="contact.visible">
                  <!-- info -->
                  <div class="mainuserchat" :class="(index == currentContact ? 'contact-active' : null)"  @click="changeContact(index)">
                    
                    <div class="img-container">
                      <img :src="contacts[index].avatar" alt=""/>
                    </div>
                    <div>
                      <h4>{{ contacts[index].name }}</h4>
                      <p>{{ contact.name }}</p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- sezione di destra-->
        <div class="right-column">
          <!-- chat col contatto specifico -->
          <div class="contact-chat">
            <!-- header di destra -->
            <div class="header-right">
              <!-- info utente -->
              <div class="main-user" >
                <div class="img-container">
                  <img :src="contacts[0].avatar" alt=""/>
                </div>
                <h3>{{contacts[0].name}}</h3>
              </div>

              <!-- icone -->
              <ul class="icons">
                <li><i class="fa-solid fa-magnifying-glass"></i></li>
                <li><i class="fa-solid fa-paperclip"></i></li>
                <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
              </ul>
            </div>

            <!-- chat messaggi -->
            <div class="chat"></div>
            <ul class="chat flex flex-column align-center">
              <li
                v-for="message in contacts[currentContact].messages"
                class="message flex"
                :class="checkStatus(message.status)">
                <div class=" sent text">{{message.message}}</div>
              </li>
            </ul>
        </div>

          <!-- sezione input per scrivere messaggio -->
          <div class="right-search">
            <i class="fa-regular fa-face-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio"  @keyup.enter="newMessage"
            v-model="userText" />
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
      </div>

    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>